* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#333efe, #454545);

}

.bubbles {
    position: absolute;
    bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.bubbles span {
    height: 60px;
    width: 60px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    animation: move 10s linear infinite;
    position: relative;
    overflow: hidden;

}

@keyframes move {
    100% {
        transform: translateY(-90vh);
    }
}

.bubbles span.one {
    animation-delay: 2.25s;
    transform: scale(2.15);
}
.bubbles span.two {
    animation-delay: 3.25s;
    transform: scale(1.15);
}
.bubbles span.three {
    animation-delay: 6s;
    transform: scale(2.15);
}
.bubbles span.four {
    animation-delay: 7s;
    transform: scale(0.5);
}
.bubbles span.five {
    animation-delay: 4s;
    transform: scale(2.5);
}
.bubbles span.six {
    animation-delay: 3s;
    transform: scale(1.5);
}
.bubbles span.seven {
    animation-delay: 2.5s;
    transform: scale(0.15);
}

.bubbles span::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
    width: 40%;
    transform: skew(45deg) translateX(150px);
    background: rgba(255, 255, 255, 0.15);
    animation: mirror 3s linear infinite;
    
}

@keyframes mirror {
    100% {
        transform: translateX(-450px);
    }
}

.bubbles span.one:before {
    animation-delay: 1.5s;
    
}
.bubbles span.two:before {
    animation-delay: 3.5s;

}
.bubbles span.four:before {
    animation-delay: 2.5s;

}
.bubbles span.five:before {
    animation-delay: 2.5s;

}
.bubbles span.three:before {
    animation-delay: 4.5s;

}
.bubbles span.six:before {
    animation-delay: 0.5s;

}
.bubbles span.seven:before {
    animation-delay: 6s;

}

.container {
    width: 360px;
    padding: 15px;
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1 px solid rgba(255, 25, 255, 0.5);
    
}

.container input[type="text"] {
    width: 100%;
    height: 100px;
    margin: 0 3px;
    outline: none;
    border: none;
    background: transparent;
    color: #fff;
    text-align: right;
    font-size: 20px;
    padding-right: 10px;
}

.container input[type="button"] {
    height: 65px;
    width: calc(100% / 4 - 5px);
    color: #fff;
    background: transparent;
    border-radius: 12px;
    margin-top: 12px;
    outline: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.container input[type="button"]:hover {
    background: rgba(255, 255, 255, 0.1);
}

  .entypo-heart:before{
    content:"\2665";
  }

  
  [class*="entypo-"]:before {
    font-family: 'entypo', 'Segoe UI';
    color: red;
  }
.footer {
    color:rgba(255, 255, 255, 0.5);
    margin: 12px;
    text-align: center;    
}